<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Create user</title>
</head>
<body>
<div class="top">
  <br/>
  <form action="create" method="post">
    <label>
      name <br/>
      <input type="text" name="name">
    </label>
    <br/>
    <label>
      phone <br/>
      <input type="text" name="phone">
    </label>
    <br/>
    <label>
      address <br/>
      <input type="text" name="address">
    </label>
    <br/><br/>
    <input type="submit" value="Создать нового пользователя">
  </form>
</div>
</html>
